admin-form-input-bytes {
  .input-group {
    .fg-line {
      padding: 0;

      input[name=dataSizeInput] {
        text-align: right;
      }
    }

    .dropdown-toggle {
      position: relative;
      top: -20px;
    }

    .dropdown-menu {
      top: inherit;
    }
  }
}
