ng-form(name="form")
  .input-group
    esn-form-group(label="{{label}}", min-error-message="{{ '#{__('This must be greater than or equal to')} ' + min}}", max-error-message="{{ '#{__('This must be less than or equal to')} ' + max}}")
      input.form-control(type="number", ng-model="display.value", name="dataSizeInput", ng-change="onChange()", min="{{minValue}}", max="{{maxValue}}", required)
    .input-group-btn
      button.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
        {{display.unit}}
        span.caret
      ul.dropdown-menu
        li(ng-repeat="unit in AVAILABLE_UNITS")
          a(ng-click="onSelect(unit)")
            {{unit}}
