sub-header
  admin-users-subheader

.card
  .card-header
    h2.lvh-label #{__('Users configuration')}
  .card-body
    .lv-bordered.lv-lg
      .lv-body
        admin-users-configuration

.card
  .card-header
    h2.lvh-label #{__('Quick user creation')}
  .card-body.card-padding
    admin-users-quick-form(domain-id="$ctrl.domainId")

.card
  .card-header
    h2.lvh-label #{__('List of users')}
  .card-body
    .listview.lv-bordered.lv-lg
      .lv-body
        admin-users-list(domain-id="$ctrl.domainId")
