extends ../layout/subheader

block left
  admin-subheader-burger-button.hidden-md
  .title #{__('LDAP')}

block right
  admin-subheader-save-button(on-click="$ctrl.onSaveButtonClick()", disabled="$ctrl.disableSaveButton")