span #{__('Used for:')}
.oauth-usage-options
  .option
    label.checkbox.checkbox-inline
      input(type="checkbox", ng-model="$ctrl.options.account")
      i.input-helper
      | #{__('Link account')}
