before_script:
  - . ~/.nvm/nvm.sh && nvm use 6

stages:
  - test
  - deploy_dev

test:
  stage: test
  tags:
    - shell
    - online.net
    - mongo
    - elasticsearch
    - redis
  script:
    - npm i
    - bower i
    - grunt --chunk=1 --ci

deploy_dev:
  stage: deploy_dev
  tags:
    - dev.open-paas.org
    - deployment
  environment:
    name: dev
    url: https://dev.open-paas.org
  only:
    - master
  script:
    - cd /srv/${CI_PROJECT_NAME}
    - git fetch --all
    - git checkout ${CI_COMMIT_SHA}
    - npm install --ignore-scripts --production
    - npm prune
    - bower install --production
    - bower prune
    - sudo /etc/init.d/rse.dev stop
    - sudo /etc/init.d/rse.dev start
