ng-form(name="form")
  .card
    .card-body.card-padding
      .row
        .col-xs-12.col-md-6
          esn-form-group(label="#{__('Max login retries')}")
            input.form-control(type="number", ng-model="$ctrl.login.failure.size", min="0", auto-focus, name="failureSize")
