.block-header
  h2 {{$ctrl.action.category | esnI18n}}
.card
  .card-header
    h2 {{$ctrl.action.resourceType | esnI18n}}
  .card-body
    .listview.lv-bordered
      .lv-body
        .lv-item(ng-repeat="action in $ctrl.action.items")
          .flex-space-between
            div {{action.description | esnI18n}}
            div
              button.btn.btn-primary(ng-click="action.onClick()") #{__('Run')}
