@import './subheader/subheader';
@import './sidebar/admin-sidebar';
@import './dav/admin-dav';
@import './ldap/admin-ldap';
@import './mail/admin-mail';
@import './modules/admin-modules';
@import './oauth/admin-oauth';
@import './roles/admin-roles';
@import './jwt/admin-jwt';
@import './james/admin-james';
@import './common/form/admin-form-input-bytes';
@import './common/form/admin-form-multi-input';
@import './common/empty-message/admin-empty-message';
@import './common/mode/indicator/admin-mode-indicator';
@import './autoconf/admin-autoconf';
@import './domains/admin-domains';

.admin-root {
  & > .col-md-3, & > .col-md-8 {
    margin-top: 45px;
  }

  form {
    .group-name {
      font-weight: bold;
      margin-bottom: 30px;
    }
  }

  .card-body > form, .card-body > ng-form {
    display: block;
    padding-top: 20px;
  }

  .lv-item-cus-padding {
    padding: 8px 16px;
    border-bottom: 1px solid @black-alpha-10;
  }

  .pull-left {
    padding-right: 16px;
  }
}
