form(name="form")
  .row
    .col-md-10
      .row
        .col-md-6
          .form-group
            .fg-line
              input.form-control(type="email", ng-model="$ctrl.user.accounts[0].emails[0]", placeholder="#{__('Email')}", autocomplete="off", required, name="email", admin-form-validator)
        .col-md-6
          .form-group
            .fg-line
              input.form-control(type="password", ng-model="$ctrl.user.password", placeholder="#{__('Password')}", autocomplete="new-password", required, name="password", admin-form-validator)
    .col-md-2
        button.btn.btn-primary(type="submit", esn-submit="$ctrl.save(form)", ng-disabled="form.$pristine")
          | #{__('Add')}
  .row
    .col-md-6
      a(href="", ui-sref="admin.domain.users.create({user: $ctrl.user})")
        | #{__('Advanced user creation')}
