.modal.admin-domains-update
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title #{__('Edit domain')}
      .modal-body
        .row
          form(name="form")
            admin-domains-form(update-mode="true", domain="$ctrl.domain")
      .modal-footer.flex
        .flex-vertical-centered.flex-end
          button.btn.btn-link(ng-click="$hide()")
            | #{__('Cancel')}
          button.btn.btn-primary(ng-click="$ctrl.update(); $hide()", ng-disabled="form.$invalid")
            | #{__('Save')}
