form(name="form")
  .card(ng-init="expanded=false", ng-class="{clickable: $ctrl.configurations}")
    .card-header(ng-click="expanded=!expanded")
      .card-header-container
        .icon(ng-include="$ctrl.module.icon")
        h2.module-name(ng-class="form.$pristine ? '': 'unsaved-changes'", title="{{::$ctrl.module.title | esnI18n}}")
          span {{::$ctrl.module.title | esnI18n}}

      .module-toolbar
        .admin-modules-features(ng-show="$ctrl.configurations", title=__('Features'))
          i.mdi(ng-class="expanded ? 'mdi-chevron-up' : 'mdi-chevron-down'")
        .admin-modules-disable(ng-if="$ctrl.module.disableable")
          toggle-switch(ng-model="$ctrl.module.enabled", onchange="$ctrl.switchEnabledState()", title=__('Enable the module'))
        .admin-modules-disable(ng-if="!$ctrl.module.disableable")
          toggle-switch(ng-disabled="!$ctrl.module.disableable", title=__('Enable the module'))
    .card-body
      .form(ng-if="$ctrl.configurations", ng-show="expanded")
        admin-modules-form(template="$ctrl.module.config.template", configurations="$ctrl.configurations", mode="{{$ctrl.mode}}", available-modes="$ctrl.availableModes")
        .flex-end.admin-form-bottom
          a.text-uppercase.flex-vertical-centered(href="", ng-click="$ctrl.reset()")
            |  #{__('Cancel')}
          admin-modules-save-button(form="form", on-form-submit="$ctrl.save()")
