ng-form(name="form")
  .card
    .card-header
      h2
        | #{__('Quota')}
        small #{__('Define the quota limit for each user. Leave the fields empty for no quota.')}

    .card-body.card-padding
      .row
        .col-xs-12.col-md-6
          admin-form-input-bytes(input-value="$ctrl.quota.size", min="-1B", label=__('Data usage quota'))
        .col-xs-12.col-md-6
          esn-form-group(label=__('Message count quota'))
            input.form-control(type="number", ng-model="$ctrl.quota.count", min="-1", name="quotaCount")
