.row
  .col-xs-12
    .form-group
      .fg-line
        input.form-control(type="text", ng-model="$ctrl.transportConfig.auth.user", name="user", placeholder="#{__('Enter username')}")
.row
  .col-xs-12
    .form-group
      .fg-line
        input.form-control(type="password", ng-model="$ctrl.transportConfig.auth.pass", name="pass", placeholder="#{__('Enter password')}")
