label.title #{__('Resolvers')}
.row
  .col-xs-12.col-md-12
    .config-content(ng-repeat="key in $ctrl.ADMIN_MAIL_AVAILABLE_RESOLVERS")
      admin-mail-resolver(name="key", resolver="$ctrl.resolvers[key]")
