sub-header
  admin-mail-subheader(on-form-submit="$ctrl.save()", form="form")

.card
  .card-body.card-padding
    form(name="form")
      .row
        .col-md-6
          .config-content
            esn-form-group(label=__('Noreply email'))
              input.form-control.fg-input(type="email", ng-model="$ctrl.config.mail.noreply", name="noreply", autofocus=true, required)
            esn-form-group(label=__('Feedback email'))
              input.form-control.fg-input(type="email", ng-model="$ctrl.config.mail.feedback", name="feedback", required)
            esn-form-group(label=__('Transport type'))
              .select
                select.form-control(ng-model="$ctrl.transportType", name="transportType", ng-options="transportType for (key, transportType) in $ctrl.transportTypes", required)
            div(ng-switch="$ctrl.transportType")
              div(ng-switch-when="Local")
                admin-mail-local(transport="$ctrl.config.transport")

              div(ng-switch-when="SMTP")
                admin-mail-smtp(transport-config="$ctrl.config.transport.config")

              div(ng-switch-when="Gmail")
                admin-mail-gmail(transport-config="$ctrl.config.transport.config")
        .col-md-6
          admin-mail-resolvers(ng-if="$ctrl.config.resolvers", resolvers="$ctrl.config.resolvers")

admin-mail-test(is-mail-config-valid="form.$valid", config="$ctrl.config", transport-type="$ctrl.transportType")
