sub-header
  admin-mail-subheader(on-save-button-click="$ctrl.save(form)", disable-save-button="form.$invalid || form.$pristine")

.card
  .card-body.card-padding
    form(name="form")
      .row
        .col-md-6
          .config-content
            .form-group
              .fg-line
                input.form-control.fg-input(type="email", ng-model="$ctrl.config.mail.noreply", name="noreply", placeholder="#{__('Enter noreply mail address')}", autofocus=true, required, admin-form-validator)
            .form-group
              .fg-line
                input.form-control.fg-input(type="email", ng-model="$ctrl.config.mail.feedback", name="feedback", placeholder="#{__('Enter feedback mail address')}", required, admin-form-validator)
            .form-group
              .select.fg-line
                select.form-control(ng-model="$ctrl.transportType", name="transportType", ng-options="transportType for (key, transportType) in $ctrl.transportTypes", required, admin-form-validator)
                  option(value="") #{__('Choose transport type')}

            div(ng-switch="$ctrl.transportType")
              div(ng-switch-when="Local")
                admin-mail-local(transport="$ctrl.config.transport")

              div(ng-switch-when="SMTP")
                admin-mail-smtp(transport-config="$ctrl.config.transport.config")

              div(ng-switch-when="Gmail")
                admin-mail-gmail(transport-config="$ctrl.config.transport.config")
        .col-md-6
          admin-mail-resolvers(ng-if="$ctrl.config.resolvers", resolvers="$ctrl.config.resolvers")

admin-mail-test(is-mail-config-valid="form.$valid", config="$ctrl.config", transport-type="$ctrl.transportType")
