sub-header
  admin-users-create-subheader(on-save-button-click="$ctrl.save(form)", disable-save-button="form.$invalid")

.card
  .card-body.card-padding
    form(name="form")
      admin-users-full-form(user="$ctrl.user")
