extends ../../subheader/subheader.layout

block left
  admin-subheader-close-button(back-state="^")
  .title #{__('Create a new user')}

block right
  admin-subheader-save-button(on-click="$ctrl.onSaveButtonClick()", disabled="$ctrl.disableSaveButton")
