.flex-vertical-centered
  .message(ng-switch="$ctrl.message.status")
    i(ng-switch-when="testing")
      | #{__('Checking...')}
    i.c-green(ng-switch-when="success")
      | #{__('Connected successfully to LDAP server')}
    i.c-red(ng-switch-when="error")
      | #{__('Failed to connect to LDAP server: "%s"', '{{$ctrl.message.msg}}')} 
  button.btn.btn-link.btn-default(esn-submit="$ctrl.test()", type="button", title=__('Check connection to LDAP server'))
    i.mdi.mdi-file-check
