@import './test/admin-ldap-test';

admin-ldap {

  admin-ldap-form {
    .card {
      .card-header {
        background: @darkenBgColor;
        padding: 10px;
        margin-bottom: 10px;

        admin-ldap-test {
          margin-right: 10px;
        }

        .mdi {
          font-size: 2em;
        }
      }

      .card-body {
        .toggle-switch .ts-label {
          font-weight: normal;
        }
      }
    }

    admin-form-multi-input {
      .button {
        margin-bottom: 40px;
      }
    }
  }
}

@media (min-width: @screen-md-min){
  admin-ldap {

    admin-ldap-form {

      admin-form-multi-input {
        .button {
          margin-bottom: 0;
        }
      }
    }
  }
}
