sub-header
  admin-ldap-subheader(on-form-submit="$ctrl.save()", form="form")

form(name="form")
  .card(ng-repeat="config in $ctrl.configs")
    admin-ldap-form(ldap-config="config")
fab(icon="plus", ng-click="$ctrl.addForm()")
