sub-header
  admin-general-subheader(on-form-submit="$ctrl.save()", form="form")

form(name="form", admin-loading-status)
  .flex-column(ng-if="$ctrl.configs")
    esn-i18n-language-selector(language="$ctrl.configs.language")
    esn-business-hours(business-hours="$ctrl.configs.businessHours")
    esn-datetime(datetime="$ctrl.configs.datetime", mode="{{::$ctrl.mode}}")
