sub-header
  admin-general-subheader(on-form-submit="$ctrl.save()", form="form")

form(name="form")
  .flex-column(ng-if="$ctrl.configs")
    admin-general-login(ng-if="$ctrl.hasConfig('login')", login="$ctrl.configs.login")
    esn-business-hours(ng-if="$ctrl.hasConfig('businessHours')", business-hours="$ctrl.configs.businessHours")
    admin-general-datetime(ng-if="$ctrl.hasConfig('datetime')", datetime="$ctrl.configs.datetime")
