extends ../subheader/subheader.layout

block left
  admin-subheader-burger-button.hidden-md
  span.title.ellipsis
    |  #{__('General configuration')}

block right
  admin-subheader-save-button(on-click="$ctrl.onFormSubmit()", form="$ctrl.form")
