ng-form(name='form')
  .card
    .card-header
      h2 
        | #{__('Twitter')}
      a.action-link(href="http://apps.twitter.com", target="_blank") 
        | #{__('How to obtain your API keys?')}
    .card-body.card-padding
      .row 
        .col-xs-12.col-md-4
          esn-form-group(label="#{__('API Key')}")
            input.form-control(type="text", ng-model="$ctrl.config.consumer_key", autocomplete="off", name="consumer_key")
        .col-xs-12.col-md-8
          esn-form-group(label="#{__('API Secret')}")
            input.form-control(type="text", ng-model="$ctrl.config.consumer_secret", autocomplete="off", name="consumer_secret")
