sub-header
  admin-features-subheader(on-form-submit="$ctrl.save()", form="form")

form(name="form")
  .card
    .listview.lv-bordered.lv-lg
      .lv-body
        admin-features-item(ng-repeat="feature in $ctrl.features", feature="feature")
