@adminModuleMiniIconSize: 1.2em;
@adminModuleMiniItemFontSize: 1.2em;
@adminModuleBorderColor: #DDDDDD;
@adminModuleMiniFormHeight: 35px;
@adminModuleExpandedBackground: #F4F4F4;

admin-modules {

  admin-modules-displayer {

    .card {
      margin-bottom: 0;

      .card-header {
        .flex-vertical-centered;
        .flex-space-between;

        font-size: 1.3em;
        color: @secondaryTextColor;
        padding: 15px;
        border-bottom: 1px solid @adminModuleBorderColor;

        h2 {
          .flex-grow;

          color: @secondaryTextColor;

          img {
            height: 2.5em;
            margin-right: 10px;
          }
        }

        .unsaved-changes {
          font-weight: 500;
          color: @m-black;
          span:after {
            content: '\0020\002A';
          }
        }

        .toolbar {
          .flex-vertical-centered;
          .flex-space-between;

          width:50%;

          .mdi-menu-up, .mdi-menu-down {
            font-size: 1.5em;
          }

          .homeActivated {
            color: @primaryColor;
          }
        }
      }
    }

    admin-modules-form {

      ng-form {
        .flex-space-between;

        background: @adminModuleExpandedBackground;
        flex-direction: column;

        .left-block, .right-block {
          width: 100%;
        }
      }

      .option-field {
        .flex-vertical-centered;

        min-height: @adminModuleMiniFormHeight;

        input {
          background: @app-gray;
        }
      }

      admin-form-input-bytes {
        ng-form {
          padding-left: 15px;

          esn-form-group {
            .form-group {
              input {
                background: @app-gray;
              }
            }
          }
        }
      }

      admin-form-input-bytes {

        .input-group-btn {
          font-size: inherit;

          button {
            background: @app-gray;
            border: none;
          }
        }
      }
    }

    .admin-form-bottom {
      margin-right: 10px;
      padding-bottom: 10px;
      background: @adminModuleExpandedBackground;
      border-bottom: 1px solid @adminModuleBorderColor;

      a {
        margin-right: 10px;
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: @screen-xs-min) {
  admin-modules {

    admin-modules-displayer {

      admin-modules-form {

        ng-form {
          flex-direction: row;

          .left-block, .right-block {
            width: 50%;
          }

          .left-block {
            padding-right: 5px;
            padding-left: 15px;
          }

          .right-block {
            padding-left: 5px;
            border-left: 1px solid @adminModuleBorderColor;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
