sub-header
  admin-modules-subheader(on-form-submit="$ctrl.save()", form="form")

form(name="form")
  admin-modules-displayer(ng-repeat="module in $ctrl.modules", ng-if="module", module="module", current-homepage="$ctrl.homePage")
