@adminModuleMiniIconSize: 1.2em;
@adminModuleMiniItemFontSize: 1.2em;
@adminModuleBorderColor: #CCCCCC;
@adminModuleMiniFormHeight: 35px;

admin-modules {

  admin-modules-displayer {

    .card.expanded {
      background: @app-gray;
    }

    .card {
      margin-bottom: 0;

      .card-header {
        .flex-vertical-centered;
        .flex-space-between;

        font-size: 1.3em;
        color: @secondaryTextColor;
        padding: 15px;
        border-bottom: 1px solid @adminModuleBorderColor;

        h2 {
          .flex-grow;

          color: @secondaryTextColor;

          .mdi {
            font-size: 2.5em;
            color: @secondaryTextColor;
            margin-right: 10px;
          }
        }

        .toolbar {
          .flex-vertical-centered;
          .flex-space-between;

          width:50%;

          .mdi-menu-up, .mdi-menu-down {
            font-size: 1.5em;
          }

          .homeActivated {
            color: @primaryColor;
          }
        }
      }
    }
    admin-modules-form {

      ng-form {
        .flex-space-between;

        .left-block, .right-block {
          width: 50%;
        }

        .left-block {
          padding-right: 5px;
          padding-left: 15px;
        }

        .right-block {
          padding-left: 5px;
          border-left: 1px solid @adminModuleBorderColor;
          margin-bottom: 10px;
        }
      }

      .option-field {
        .flex-vertical-centered;

        min-height: @adminModuleMiniFormHeight;

        input {
          background: @app-gray;
        }
      }

      admin-form-input-bytes {
        ng-form {
          padding-left: 15px;

          esn-form-group {
            .form-group {
              input {
                background: @app-gray;
              }
            }
          }
        }
      }

      admin-form-input-bytes {

        .input-group-btn {
          font-size: inherit;

          button {
            background: @app-gray;
            border: none;
          }
        }
      }
    }
  }
}
