sub-header
  admin-dav-subheader(on-form-submit="$ctrl.save()", form="form")

.card
  .card-body.card-padding
    form(name="form")
      .row
        .col-md-6
          esn-form-group(label="#{__('Backend')}")
            input.form-control(type="url", ng-model="$ctrl.config.backend.url", auto-focus, name="backend", required)
        .col-md-6
          esn-form-group(label="#{__('Frontend')}")
            input.form-control(type="url", ng-model="$ctrl.config.frontend.url", name="frontend", required)
