sub-header
  admin-web-subheader(on-save-button-click="$ctrl.save(form)", disable-save-button="form.$pristine")
  
.card
  .card-body.card-padding
    form(name="form")
      .row
        .col-xs-12.col-md-6
          admin-form-group(label="#{__('Base URL')}")
            input.form-control(type="url", ng-model="$ctrl.config.base_url", name="base_url", required)
