sub-header
  admin-web-subheader(on-save-button-click="$ctrl.save(form)", disable-save-button="form.$invalid || form.$pristine")
  
.card
  .card-body.card-padding
    form(name="form")
      .row
        .col-xs-12.col.md-6
          .form-group
            .fg-line
              .field-name #{__('Base URL')}
              input.form-control(type="url", ng-model="$ctrl.config.base_url", placeholder="#{__('Base URL')}", name="base_url", admin-form-validator, required)
